.close-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 1;
}

.dataItems {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px 5px;
	margin-top: 10px;
}

.dataItem {
	position: relative;
}

.dataView {
	height: 100px;
	width: 200px;
	display: flex;

	justify-content: center;
	margin: auto 10px auto auto;

	img {
		height: inherit;
	}
}

.empty {
	margin: auto;
}
