.close-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 1;
}

.dataItems {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	flex-wrap: wrap;
	gap: 15px 5px;
	margin-top: 10px;
}

.dataItem {
	position: relative;
	width: 180px;
}

.ant-card-body {
	padding: 5px;
}
.empty {
	margin: auto;
}
